/* all styling for stretchout website  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');


:root {
    /*colours  */

    --background-clr: #1F2937;
    --button-clr: #3882F6;
    --quote-back-clr: #E5E7EB;
    --logo-clr: #F9FAF8;
    --info-header-clr: #1F2937;

    /* font size */

    --fs-large: 48px;
    --fs-mediem: 36px;
    --fs-logo: 24px;
    --fs-extrasmall: 18px;

    /* font-weight */

    --fw-bold: 800;
    --fw-light: 200;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-clr);
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    /* background-color: red; */

}

.nav-logo {
    max-width: 100px;
}

.nav-logo a {
    font-size: var(--fs-logo);

    color: var(--logo-clr);

}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

}

.nav-item a {
    padding-bottom: 0.75rem;
    position: relative;
    /* color: var(--info-header-clr); */
    color: white;

}

.nav-item a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--logo-clr);
    transition: all 0.3s ease;
}

.nav-item a:hover::after {
    width: 70%;

}

.btn {
    background-color: var(--button-clr);
    color: white;
    padding: 1rem 2rem;
    border-radius: 3px;
}

.container {
    max-width: 1200px;
    margin: auto;
    /* padding: 5rem; */
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px rgb(206, 109, 18);
    z-index: -100;
}
 
.mainimg img{
    width: 350px;
    height: auto;

}
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
    place-items: flex-end;
    align-items: center;
    /* background-color: yellow; */
}
header .content h2{
    margin-bottom: 1rem;
    color: var(--quote-back-clr);
    font-size: var(--fs-large);
    font-weight: 600;
}

header .content p{
    color: var(--quote-back-clr);
    font-size: var(--fs-);
    margin-bottom: 1rem;
}
header .content span{
    color: var(--button-clr);
}
.mainimg img{
    max-width:600px ;
    margin: auto;
}


@media (max-width:680px)  {
    header{
        grid-template-columns: 1fr;
        place-items: center;
    }
    
}